<div class="container navbar-{{navbarStyle}} {{navbarBgcolor}} navbar-banner">
    <a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}">
        {# Show logo if enabled in theme options #}
        {% if logo_enabled and logo %}
            {% set logo_file = (logo|first).name %}
            <div class="mr-3">
                <img class="align-self-center w_logo" src="{{ url('theme://images/logo/' ~ logo_file) }}" alt="{{ SITE.TITLE|raw }}"/>
            </div>
        {% endif %}

        {% if navbarSiteName or navbarIcon %}
            {# If the navigation bar icon is on and the logo is off, it will be displayed next to the site title #}
            {% if navbarIcon and logo_enabled == false %}
                <div>
                    <i class="{{ navbarIconGroup }} fa-{{ navbarIcon }} {{ navbarIconSize }} pr-1"></i>
                </div>
            {% endif %}

            {# Show site name if enabled in theme options #}
            {% if navbarSiteName %}
                <div>
                    <strong>{{ 'SITE.TITLE'|t }}</strong>
                </div>
            {% endif %}
        {% endif %}
    </a>
</div>
