{% set footerTextLeft = theme_var('footer_text_left') %}
{% set footerTextRight = theme_var('footer_text_right') %}

<!-- Footer -->
<footer id="footer" class="border-top p-4">
    <div class="{{ containerClass }}">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-4">
            <h5>{{'SITE.TITLE'|t }}</h5>
            <p></p>
            <p>{{ 'FOOTER.POSTCODE_KEY'|t }}: {{ 'FOOTER.POSTCODE_VALUE'|t }}</p>
            <p>{{ 'FOOTER.ADDRESS_KEY'|t }}: {{ 'FOOTER.ADDRESS_VALUE'|t }}</p>
            <p>{{ 'FOOTER.EMAIL_KEY'|t }}: {{ 'FOOTER.EMAIL_VALUE'|t }}</p>
        </div>
        <div class="col-lg-2 p-4">
            <img src="{{ url('theme://images/qrcode.png') }}"/>
        </div>
    </div>
    </div>
</footer>
