{# MODULAR PAGE - STICKY POST #}

{% set themeBlog = theme_var('blog_route')|defined('/blog') %}
{% set blog = page.find(header_var('blog_url')|defined(themeBlog)) %}
{% set override_style = theme_var('override_page_style')|defined(false) %}
{% set color_style = override_style ? theme_var('default_page_style')|default('primary') : page.parent.header.style|defined('primary') %}
{% set page_title = page.title %}
{% set show_title = page.header.show_title|defined(false) %}

<div class="row col-lg-12 p-lg-0 mb-2 mt-4 bg-lightblue position-relative">
    <div class="swiper-container main-slider loading">
      <div class="swiper-wrapper">
          {% for image in page.media.images %}
          <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url({{image.url}})">
              <img src="{{ image.url}}" class="entity-img" alt="{{ image.name }}">
              </figure>
          </div>
          {% endfor %}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>

    <!-- Thumbnail navigation -->
    <div class="swiper-container nav-slider loading">
      <div class="swiper-wrapper" role="navigation">
          {% for image in page.media.images %}
          <div class="swiper-slide">
            <figure class="slide-bgimg" style="background-image:url({{image.url}})">
              <img src="{{ image.url}}" class="entity-img" alt="{{ image.name }}">
              </figure>
          </div>
          {% endfor %}
      </div>
    </div>
</div>
