{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="container mt-5">
        <h3 class="font-weight-bold spanborder"><span>{{ page_title|raw }}</span></h3>
        <div class="row">
            <div class="col-sm-9 col-12" id="map-container" tabindex="0" data-icon="{{ url('theme://images/poi-marker-red.png', true)  }}"></div>
            {% if page.header.address is not empty %}
                <!-- Left column with icon list -->
                <div class="col-md-3 rounded bg-light">
                    <div class="card h-100">
                        {% if featuredImage and show_image %}
                            {{ featuredImage.loading('eager')
                            .attribute('decoding','async')
                            .attribute('width', '672')
                            .attribute('height', '504')
                            .derivatives(320,672,320)
                            .sizes('(max-width: 768px) 100vw, 50vw')
                            .html(page_title|raw, page_title|raw,'h-auto w-100 p-4 card-img-top')|raw }}
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">{{ 'CONTACT.ADDRESS'|t }}</h4>
                            <div class="pl-1">
                                {% for item in page.header.address %}
                                    <div class="my-3">
                                    {% if item.addressField ?? null %}
                                        {% if item.fieldIcon ?? null %}
                                            <span><i class="{{ item.fieldIcon }}"></i></span>
                                        {% endif %}
                                        <span class="ps-2">{{ item.addressField|raw }}</span>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            {% endif %}
            </div> 
        </div>
    </div>  
{% endblock %}

{% block bottom %}
    {% do assets.addJs("https://webapi.amap.com/loader.js", {'group':'bottom'}) %}
    {% do assets.addJs('theme://assets/js/contact.js', {group: 'bottom'}) %}
    {{ parent() }}
{% endblock %}
