{% extends 'partials/base.html.twig' %}


{# get url parameter: article_type #}

{# get all publications #}
{% set themeBlog = theme_var('blog_route')|defined('/blog') %}
{% set blog = page.find(header_var('blog_url')|defined(themeBlog)) %}
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{# Set sidebar option for page #}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{# Set pagination option for page #}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% set categories = uri.query('categories') %}
{% set year_query= uri.query('years') %}



{% set year2page = {} %}
{% for child in page.children %}
    {% set year = child.folder %}
    {% set year2page = { (year): child } + year2page %}
{% endfor %}

{% if not year_query %}
    {% set selected_years = page.children|map(page => page.folder)|sort|reverse|slice(0,1) %}
{% elseif year_query == "all" %}
    {% set selected_years = year2page|keys %}
{% else %}
    {% set selected_years = year_query|split(',')|sort|reverse %}
{% endif %}


{# Set page filtered #}
{% import 'macros/macros.html.twig' as filters %}
{% set titleFiltered = filters.generateFilteredTitle(uri) %}

{% block banner %}
<div class="banner d-none">
    <img src="{{ page.media.imagespage.header.banner_image.url }}">
    <div class="banner-overlay"></div>
</div>
{% endblock %}

{% block content %}

<div class="row mt-3">
{% embed 'partials/layout.html.twig' with { blog: page } %}
    {% block item %}
        <h2 class="font-weight-bold title h3 mb-4 spanborder">
        <span>{{ page.header.title }}</span>
        </h2>

        <div id="publications">
        {% for year in selected_years %}
            {% if year2page[year] %}
                {% set year = year2page[year] %}
                <div class="pubyear h3">{{ year.folder }}</div>
                <div>
                    {% for paper in year.children|sort('header.journal', 'desc') %}
                    <div class="pubitem">
                        <div class="formatted-citation", data-bibstring="@{{ paper.header.entry_type}}{{ '{'~ paper.header.uid}},
                            title = {{ '{' ~ paper.header.title ~ '}' }},
                            author = {{ '{' ~ paper.header.author ~ '}' }},
                            year = {{ '{' ~ paper.header.year ~ '}' }},
                            {% if paper.header.month %} month = {{ '{' ~ paper.header.month ~ '}' }}, {% endif %}
                            {% if paper.header.volume %} volume = {{ '{' ~ paper.header.volume ~ '}' }}, {% endif %}
                            {% if paper.header.pages %} pages = {{ '{' ~ paper.header.pages ~ '}' }}, {% endif %}
                            {% if paper.header.journal %} journal = {{ '{' ~ paper.header.journal ~ '}' }}, {% endif %}
                            {% if paper.header.publisher %} publisher = {{ '{' ~ paper.header.publisher ~ '}' }}, {% endif %}
                        }"></div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}

    {% block sidebar %}
        <div class="sticky-top sticky-top-offset">
            {# list all years and create corresponding links #}
            <div class="h3">{{ 'PUBLICATIONS.PUBLICATION_YEAR'|t }}</div>
            <div>
                <ul>
                    <li>
                        <a href="{{ page.url }}?years=all">{{ 'PUBLICATIONS.ALL'|t }}</a>
                    </li>
                    {% for year in year2page|keys %}
                        <li>
                            <a href="{{ page.url }}?years={{ year }}">{{ year }}</a>
                        </li>
                    {% endfor %}
                </ul>

            <div class="h3">{{ 'PUBLICATIONS.RESEARCH_CATEGORY'|t }}</div>
            <div>
                <ul>
                    <li>
                        <a href="{{ page.url }}">{{ 'PUBLICATIONS.ALL'|t }}</a>
                    </li>
                    <li>
                        <a href="{{ page.url }}?categories=journal">{{ 'PUBLICATIONS.JOURNAL'|t }}</a>
                    </li>
                    <li>
                        <a href="{{ page.url}}?categories=conference ">{{ 'PUBLICATIONS.CONFERENCE'|t }}</a>
                    </li>
                </ul>
        </div>
    {% endblock %}

{% endembed %}
</div>

{% endblock %}

{% block bottom %}
    {% do assets.addJs('theme://assets/js/citation.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://assets/js/publications.js', {group: 'bottom'}) %}
    {{ parent() }}
{% endblock %}





