{% extends 'partials/base.html.twig' %}


{% set publications = page.collection() %}
{% set themeBlog = theme_var('blog_route')|defined('/blog') %}
{% set blog = page.find(header_var('blog_url')|defined(themeBlog)) %}
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{# Set sidebar option for page #}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{# Set pagination option for page #}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{# get all years of publications #}
{% set years_with_dup = publications|map(page => page.header.year)|filter(year => year is not null)|sort|reverse %}
{% set years = [] %}
{% for year in years_with_dup %}
    {% if year not in years %}
        {% set years = years|merge([year]) %}
    {% endif %}
{% endfor %}




{# Set page filtered #}
{% import 'macros/macros.html.twig' as filters %}
{% set titleFiltered = filters.generateFilteredTitle(uri) %}

{% block banner %}
<div class="banner d-none">
    <img src="{{ page.media.images[page.header.banner_image].url }}">
    <div class="banner-overlay"></div>
</div>
{% endblock %}

{% block content %}

<div class="row mt-3">
{% embed 'partials/layout.html.twig' with { blog: page } %}
    {% block item %}
        <h2 class="font-weight-bold title h3 mb-4 spanborder">
        <span>{{ page.header.title }}</span>
        </h2>

        <div id="publications">
        {% for year in page.children %}
            <div class="year h3">{{ year.folder }}</div>
            <div>
            {% for paper in year.children %}
            <div class="pubitem">
                <div class="formatted-citation", data-bibstring="@{{ paper.header.entry_type}}{{ '{'~ paper.header.uid}},
                    title = {{ '{' ~ paper.header.title ~ '}' }},
                    author = {{ '{' ~ paper.header.author ~ '}' }},
                    year = {{ '{' ~ paper.header.year ~ '}' }},
                    {% if paper.header.month %} month = {{ '{' ~ paper.header.month ~ '}' }}, {% endif %}
                    {% if paper.header.volume %} volume = {{ '{' ~ paper.header.volume ~ '}' }}, {% endif %}
                    {% if paper.header.pages %} pages = {{ '{' ~ paper.header.pages ~ '}' }}, {% endif %}
                    {% if paper.header.journal %} journal = {{ '{' ~ paper.header.journal ~ '}' }}, {% endif %}
                    {% if paper.header.publisher %} publisher = {{ '{' ~ paper.header.publisher ~ '}' }}, {% endif %}
                }"></div>
            </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endblock %}


    {% block sidebar %}
        {% include 'partials/sidebar.html.twig' %}
    {% endblock %}
{% endembed %}
</div>

{% endblock %}

{% block bottom %}
    {% do assets.addJs('theme://assets/js/citation.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://assets/js/publications.js', {group: 'bottom'}) %}
    {{ parent() }}
{% endblock %}





