{% extends 'partials/base.html.twig' %}


{# get url parameter: article_type #}

{# get all publications #}
{% set themeBlog = theme_var('blog_route')|defined('/blog') %}
{% set blog = page.find(header_var('blog_url')|defined(themeBlog)) %}
{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{# Set sidebar option for page #}
{% set show_sidebar = header_var('show_sidebar', [page, blog])|defined(true)  %}
{# Set pagination option for page #}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}

{% set categories_query = uri.query('categories') %}
{% set years_query= uri.query('years') %}


{% set year2page = {} %}
{% for child in page.children %}
    {% set year = child.folder %}
    {% set year2page = { (year): child } + year2page %}
{% endfor %}

{% if not years_query %}
    {% set selected_years = page.children|map(page => page.folder)|sort|reverse|slice(0,1) %}
{% elseif years_query == "all" %}
    {% set selected_years = year2page|keys %}
{% else %}
    {% set selected_years = years_query|split(',')|sort|reverse %}
{% endif %}

{% set entry2category = {'article': 'journal', 'inproceedings': 'conference'} %}

{% if not categories_query %}
    {% set selected_categories = ['journal', 'conference'] %}
{% else %}
    {% set selected_categories = categories_query|split(',') %}
{% endif %}


{# Set page filtered #}
{% import 'macros/macros.html.twig' as filters %}
{% set titleFiltered = filters.generateFilteredTitle(uri) %}

{% block banner %}
<div class="banner d-none">
    <img src="{{ page.media.images[page.header.banner_image].url }}">
    <div class="banner-overlay"></div>
</div>
{% endblock %}

{% block content %}

<div class="row mt-3">
{% embed 'partials/layout.html.twig' with { blog: page } %}
    {% block item %}
        <h2 class="font-weight-bold title h3 mb-4 spanborder">
        <span>{{ page.header.title }}</span>
        </h2>

        <div id="publications" class="p-4" style="background-image: url({{ url('theme://images/absurdity.png', true)}}) ">
        {% for year in selected_years %}
            {% if year2page[year] %}
                {% set year = year2page[year] %}
                <div class="pubyear h3">{{ year.folder }}</div>
                <div>
                    {% for paper in year.children|sort('header.journal', 'desc') %}
                    {% if entry2category[paper.header.entry_type] in selected_categories  %}
                    <div class="pubitem">
                        <div class="formatted-citation", data-bibstring="@{{ paper.header.entry_type}}{{ '{'~ paper.header.uid}},
                            title = {{ '{' ~ paper.header.title ~ '}' }},
                            author = {{ '{' ~ paper.header.author ~ '}' }},
                            year = {{ '{' ~ paper.header.year ~ '}' }},
                            {% if paper.header.month %} month = {{ '{' ~ paper.header.month ~ '}' }}, {% endif %}
                            {% if paper.header.volume %} volume = {{ '{' ~ paper.header.volume ~ '}' }}, {% endif %}
                            {% if paper.header.pages %} pages = {{ '{' ~ paper.header.pages ~ '}' }}, {% endif %}
                            {% if paper.header.journal %} journal = {{ '{' ~ paper.header.journal ~ '}' }}, {% endif %}
                            {% if paper.header.booktitle %} booktitle = {{ '{' ~ paper.header.booktitle ~ '}' }}, {% endif %}
                            {% if paper.header.publisher %} publisher = {{ '{' ~ paper.header.publisher ~ '}' }}, {% endif %}
                        }"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% endblock %}

    {% block sidebar %}
        <div class="sticky-top sticky-top-offset px-3 pt-3 pb-1 mt-4" id="publications-indexer">
            {# list all years and create corresponding links #}
            <div class="category">{{ 'PUBLICATIONS.PUBLICATION_YEAR'|t }}</div>
            <div>
                <ul>
                    <li class="{{ years_query == 'all' ? 'active' : 'inactive' }} pub-select-all">
                        <a href="{{ page.url }}?years=all&categories={{ categories_query }}">{{ 'PUBLICATIONS.ALL'|t }}</a>
                    </li>
                    {% for year in year2page|keys %}
                        <li class="{{ years_query == 'all' or year in selected_years ? 'active' : 'inactive'  }}">
                            <a href="{{ page.url }}?years={{ year }}&categories={{ categories_query }}">{{ year }}</a>
                        </li>
                    {% endfor %}
                </ul>

            <div class="category">{{ 'PUBLICATIONS.RESEARCH_CATEGORY'|t }}</div>
                <ul>
                    <li class="{{ categories_query ? 'inactive' : 'active' }} pub-select-all">
                        <a href="{{ page.url}}?year={{ years_query }}">{{ 'PUBLICATIONS.ALL'|t }}</a>
                    </li>
                    <li class="{{ 'journal' in selected_categories ? 'active' : 'inactive' }}">
                        <a href="{{ page.url }}?years={{ years_query }}&categories=journal">{{ 'PUBLICATIONS.JOURNAL'|t }}</a>
                    </li>
                    <li class="{{ 'conference' in selected_categories ? 'active' : 'inactive' }}">
                        <a href="{{ page.url}}?years={{ years_query }}&categories=conference">{{ 'PUBLICATIONS.CONFERENCE'|t }}</a>
                    </li>
                </ul>
        </div>
    {% endblock %}

{% endembed %}
</div>

{% endblock %}

{% block bottom %}
    {% do assets.addJs('theme://assets/js/citation.js', {group: 'bottom'}) %}
    {% do assets.addJs('theme://assets/js/publications.js', {group: 'bottom'}) %}
    {{ parent() }}
{% endblock %}
